@tailwind base;


@tailwind components;

@tailwind utilities;

#fa-fa{
  font-weight: bolder;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
 
}
#day{
  text-align: center;

}

