@tailwind base;


@tailwind components;

@tailwind utilities;

#fa-fa{
  font-weight: bolder;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
 
}
#day{
  text-align: center;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
* {
  font-family: Roboto;
}
#main-container{
  height: auto;
  min-height: 30em;
}
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
#footerSection{
  height: 20em;
  position: relative;
  top: 10em;
}
.footer-distributed {
  background-color: #292C2F;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  position:fixed;
  bottom:0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between */
}
.footer-distributed .footer-left p {
  color: #8F9296;
  font-size: 14px;
  margin: 0;
  float: right;
}
.footer-left{
  position: absolute;
  right: 2em;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  display: flex;
  flex-direction:column;
  float: right;
}
 .footer-center{
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: flex;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383B;
  border-radius: 2px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  line-height: 35px;
  transition:all .25s;
  margin-top: 5px;
}
#rightIcons{
  margin-left: 15em;
}
.footer-distributed .footer-right span{
display: flex;
}
.footer-distributed .footer-right span h6{
  color: #fff;
  position: relative;
  top: 10px;
  left: 10px;
  }
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
/* Media Queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin:  auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
    justify-content: space-between;
  }
}
.footer-header{
  color: white;
}
